<ul id="primary_nav" class="nav">
	<li><%= link_to 'Dashboard', :dashboard %></li>
	<li><%# link_to 'Site Admin', :controller => 'site_admin' %></li>
	<li><%# link_to 'Content', :controller => 'content' %></li>
	<li><%# link_to 'Templates', :controller => 'templates' %></li>
	
	<li><%# link_to 'Admin', :controller => 'admin' %></li>
</ul>
<div class="clear"></div>