<ul class="nav">
	<li><%# link_to 'Audit Trail', :controller => 'admins', :action => 'audit_trail' %></li>
	<li><%= link_to 'Users', :controller => 'users' %></li>
	<li><%# link_to 'Settings', :controller => 'settings' %></li>
	<li><%# link_to 'Roles', :controller => 'roles', :action => 'list' %></li>
</ul>
<div class="clear"></div>