.handle{
	cursor:pointer;
}
ul, ul.reorderable, ul.nav{
	list-style:none;
}
.reorderable li:hover, .site_tree_branch:hover{
	background:#432;
}

.form{
	border:#000 solid 1px;
}
.form p:hover{
	background:#000;
}

#assigned_privileges, #unassigned_privileges{
	border:#000 solid 1px;
}